= form_for( vm.guru, as: 'guru', url: guru_path( vm.guru ), :html => { class: 'form-horizontal' } ) do |f|

  %fieldset
    %legend
      = vm.guru.name

    = render 'form', f: f

    .form-actions
      %button{ class: 'btn btn-primary', type: 'submit' }
        Save changes
      %button{ class: 'btn', type: 'button', onclick: 'history.go(-1)' }
        Cancel
