
= form_for( vm.guru, as: 'guru', url: gurus_path, :html => { class: 'form-horizontal' } ) do |f|

  %fieldset
    %legend
      New Guru

    = render 'form', f: f

    .form-actions
      %button{ class: 'btn btn-primary', type: 'submit' }
        Create
      %button{ class: 'btn', type: 'button', onclick: 'history.go(-1)' }
        Cancel
