- @title = 'Watch the masters at work with GuruWatch'

.teaser
  %p
    There are exceptional individuals who create exceptionally worthwile content.
    In such rare cases you do not want to miss any piece of wisdom they share.
    This site is dedicated to track and link whatever your gurus create.

  %p
    You choose your own gurus. You link their content. The benefit over using a notepad is that
    community will help you watch your guru by adding new resources you may have missed.

  %p
    Content you can track includes conference talks, white papers, books, articles, comments,
    projects and in fact any linkable resource.

.options
  Now, why don't you
  = link_to( 'see the gurus', gurus_path )
  or
  = link_to( 'add your own guru', new_guru_path ) + '?'.html_safe
